
{% extends 'temp_navbar.html' %}
{% load socialaccount %}
{% block title %}Home{% endblock %}

{% block content %}
{% if messages %}
<div class="alert alert-success">
  {% for message in messages %}
    {{ message }}
  {% endfor %}
</div>
{% endif %}
    <h1>Welcome to Labmas, {{user.first_name}}</h1>

    <a class="form-select d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">    
        <span class="d-none d-md-block dropdown-toggle ps-2">{{ selected_lab_name|default:"Choose Laboratory" }}</span>
    </a>

    <ul class="dropdown-menu">
        <li>
        <hr class="dropdown-divider">
        </li>

        {% for lab in laboratories %}
        <li>
        <a class="dropdown-item d-flex align-items-center" href="{% url 'set_lab' lab.laboratory_id %}">
            <i class="bi bi-house"></i>
            <span>{{ lab.name }}</span>
        </a>
        </li>
        <li>
        <hr class="dropdown-divider">
        </li>
        {% endfor %}
    </ul>
{% endblock %}