{% extends 'temp_navbar.html' %}
{% load socialaccount %}
{% block title %}Home{% endblock %}

{% block content %}
{% if messages %}
<div class="alert alert-success">
  {% for message in messages %}
    {{ message }}
  {% endfor %}
</div>
{% endif %}
  
<h1>Welcome to Labmas, {{ request.user }}</h1>

<!-- Add Laboratory Button -->
<div class="mt-4">
  <button class="btn btn-success mb-3" data-toggle="modal" data-target="#addLabModal">+ Add New Laboratory</button>
</div>

<div class="row">
  {% for lab in laboratories %}
  <div class="col-md-4 d-flex align-items-stretch">
    <div class="card  {% if lab.laboratory_id == selected_lab_id %}border border-primary{% else %}border-secondary{% endif %} mb-3 w-100" >
      <div class="card-body d-flex flex-column p-4">
        <h5 class="card-title">{{ lab.name }}</h5>
        <p class="card-text"><strong>Lab Head:</strong> {{ lab.coordinator_name }}</p>
        <p class="card-text"><strong>Description:</strong> {{ lab.description }}</p>
        <div class="mt-auto">
          <a href="{% url 'set_lab' lab.laboratory_id %}" class="btn {% if lab.laboratory_id == selected_lab_id %}btn-primary{% else %}btn-secondary{% endif %} w-100">
            {% if lab.laboratory_id == selected_lab_id %}Selected Laboratory{% else %}Select Laboratory{% endif %}
          </a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<hr>
<div class="row">
  {% for lab in pending_labs %}
  <div class="col-md-4 d-flex align-items-stretch">
    <div class="card {% if lab.laboratory_id == selected_lab_id %}border-primary{% else %}border-secondary{% endif %} mb-3 w-100" >
      <div class="card-body d-flex flex-column p-4">
        <h5 class="card-title">{{ lab.name }}</h5>
        <p class="card-text"><strong>Description:</strong> {{ lab.description }}</p>
        <div class="mt-auto">
          <a class="btn btn-secondary w-100" disabled>
            Pending Laboratory
          </a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>



<!-- Modal for Adding Laboratory -->
<div class="modal fade" id="addLabModal" tabindex="-1" role="dialog" aria-labelledby="addLabModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addLabModalLabel">Add New Laboratory</h5>
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->
      </div>
      <form method="post" action="{% url 'request_laboratory' %}">
        {% csrf_token %}
        <div class="modal-body">
          <div class="form-group">
            <label for="laboratory_id">Laboratory ID</label>
            <input type="text" class="form-control" id="laboratory_id" name="laboratory_id" required>
          </div>
          <div class="form-group">
            <label for="role_id">Role ID</label>
            <input type="text" class="form-control" id="role_id" name="role_id" required>
          </div>
          {% if error_message %}
            <div class="alert alert-danger mt-2">{{ error_message }}</div>
          {% endif %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    // If there's an error message, open the modal on page load
    {% if error_message %}
      $('#addLabModal').modal('show');
    {% endif %}
  });
</script>

{% endblock %}