{% extends 'temp_navbar.html' %}
{% load socialaccount %}
{% block title %}Home{% endblock %}

{% block content %}
{% if messages %}
<div class="alert alert-success">
  {% for message in messages %}
    {{ message }}
  {% endfor %}
</div>
{% endif %}
  
<h1>Welcome to Labmas, {{ user.email }}</h1>

<div class="row">
  {% for lab in laboratories %}
  <div class="col-md-4">
    <div class="card mb-3" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{ lab.name }}</h5>
        <p class="card-text"><strong>Lab Head:</strong> {{ lab.lab_head }}</p>
        <p class="card-text"><strong>Description:</strong> {{ lab.description }}</p>
        <a href="{% url 'set_lab' lab.laboratory_id %}" class="btn btn-primary">Select Laboratory</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
