{% load static custom_filters %}


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block title %}{% endblock %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  {% comment %} <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon"> {% endcomment %}

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/simple-datatables/style.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/custom.css' %}" rel="stylesheet">

  

  <!-- <link href="{% static 'DataTables/datatables.min.css' %}" rel="stylesheet">
  <link href="{% static 'DataTables/datatables.css' %}" rel="stylesheet"> -->
  
  <!-- <link href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css" rel="stylesheet"  type="text/css">
  <link href="https://cdn.datatables.net/buttons/3.1.2/css/buttons.dataTables.css" rel="stylesheet" type="text/css"> -->
  
  <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet"  type="text/css"> -->
  <link href="https://cdn.datatables.net/2.1.8/css/dataTables.bootstrap5.css" rel="stylesheet"  type="text/css">
  <link href="https://cdn.datatables.net/buttons/3.1.2/css/buttons.bootstrap5.css" rel="stylesheet"  type="text/css">
  <!-- =======================================================
  * Template Name: NiceAdmin
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Updated: Apr 20 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <!--jspdf-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.13/jspdf.plugin.autotable.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.3.6/purify.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>

  


  <script type="text/javascript" src="{% static 'jquery-3.7.1.js'%}"></script> 
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"  />
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

  <!-- Include jQuery and Bootstrap JS in your template -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

 
  
  

  <!-- Styles -->
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" /> -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />
  <!-- Or for RTL support -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.rtl.min.css" />
  <!-- Scripts -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <style>
    .clickable-row {
      cursor: pointer;
    }
    .clickable-row:hover {
      background-color: #dbdbdb !important; /* Change this color to your desired hover color */
    }

    /* Remove animation and just change background color to green on hover */
    .mark-all-btn {
        transition: background-color 0.3s ease;
    }

    .mark-all-btn:hover {
        background-color: #28a745 !important; /* Green background on hover */
        color: white; /* White text on hover */
    }

    /* Style the notification list to be plain text */
    .notification-text {
        display: block;
        padding: 10px 15px;
        color: #000; /* Black text color */
        text-decoration: none; /* Remove underline */
    }

    .notification-text:hover {
        background-color: #f1f1f1; /* Light background on hover for notifications */
    }

  </style>


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <i class="bi bi-list toggle-sidebar-btn"></i>
      <a href="{%url 'home'%}" class="logo d-flex align-items-center">
        <img src="{% static 'assets/img/dlsu_logo.jpg' %}" alt="">
        <span class="d-none d-lg-block">DLSU</span>
      </a>
    </div><!-- End Logo -->

    {% comment %} 
    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar --> 
    {% endcomment %}

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">
        
        {% comment %} 
        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->
        {% endcomment %}
        
      
        <li class="nav-item dropdown pe-3">
          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
              <i class="bi bi-bell"></i> 
              {% if notifications %}
                  <span class="badge bg-danger">{{ notifications.count }}</span>
              {% endif %}
          </a>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
              <!-- Button to mark all notifications as read inside the dropdown -->
              <form method="post" action="{% url 'mark_all_notifications_read' %}">
                  {% csrf_token %}
                  <button type="submit" class="dropdown-item mark-all-btn">Mark All as Read</button>
              </form>
              
              <!-- Notifications List (text only) -->
              {% for notification in notifications %}
                  <a class="dropdown-item notification-text">
                      <span>{{ notification.message }}</span>
                  </a>
              {% endfor %}
          </ul>
      </li>

      
        

        <!-- {%if not logged_user.is_superuser%} -->
        <!-- Choose lab dropdown -->
        <li class="nav-item dropdown pe-3">
          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <span class="d-none d-md-block dropdown-toggle ps-2">{{ selected_lab_name|default:"Choose Laboratory" }}</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li>
              <hr class="dropdown-divider">
            </li>
            {% for lab in laboratories %}
            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'set_lab' lab.laboratory_id %}">
                <i class="bi bi-house"></i>
                <span>{{ lab.name }}</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            {% endfor %}
          </ul>
        </li><!-- End Choose Lab Dropdown -->
        <!-- {%endif%} -->

        <!-- End Profile Nav -->
        <li class="nav-item dropdown pe-3">
          <a class="nav-link nav-profile d-flex align-items-center pe-0 text-truncate" href="#" data-bs-toggle="dropdown">
            <img src="{% static 'assets/img/user.png' %}" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">{{ request.user.username }}</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{ request.user.firstname }} {{ request.user.lastname }}</h6>
              <span>{{ request.user.email }}</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'my_profile' %}">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            {% comment %} 
            <li>
              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                <i class="bi bi-gear"></i>
                <span>Account Settings</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li> {% endcomment %}

            {% comment %} <li>
              <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                <i class="bi bi-question-circle"></i>
                <span>Need Help?</span>
              </a>
            </li>
            <li> {% endcomment %}
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'logout' %}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
      
      {%if logged_user.is_superuser or permissions.can_configure_laboratory %}
      <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.url_name in 'superuser_lab_info setup_createlab superuser_manage_labs superuser_manage_users setup_editLab'  %}active{% else %}collapsed{% endif %}" data-bs-target="#setup-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-grid"></i>
          <span>Setup</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="setup-nav" class="nav-content collapse {% if request.resolver_match.url_name in 'superuser_lab_info setup_createlab superuser_manage_labs superuser_manage_users setup_editLab' %}show{% endif %}" data-bs-parent="#sidebar-nav">
          

          {% if logged_user.is_superuser%}
            <li>
              <a href="{% url 'setup_createlab' %}" class="{% if request.resolver_match.url_name in 'setup_createlab' %}active{% endif %}">
                <i class="bi bi-circle"></i><span>Create New Laboratory</span>
              </a>
            </li> 
            <li>
              <a href="{% url 'superuser_manage_labs' %}" class="{% if request.resolver_match.url_name in 'superuser_manage_labs superuser_lab_info setup_editLab' %}active{% endif %}">
                <i class="bi bi-circle"></i><span>Manage Laboratories</span>
              </a>
            </li> 
            <li>
              <a href="{% url 'superuser_manage_users' %}" class="{% if request.resolver_match.url_name in 'superuser_manage_users superuser_user_info setup_edituser' %}active{% endif %}">
                <i class="bi bi-circle"></i><span>Manage Users</span>
              </a>
            </li>
          {%else%}
            <li>
              <a href="{% url 'superuser_lab_info' selected_lab_id%}" class="{% if request.resolver_match.url_name in 'superuser_manage_labs superuser_lab_info setup_editLab' %}active{% endif %}">
                <i class="bi bi-circle"></i><span>Manage Laboratory</span>
              </a>
            </li> 
          {%endif%}

          
        </ul>
      </li><!-- End Setup Nav -->
      {%endif%}
      
      {% if 1 in selected_lab_modules %}

      {% if permissions.can_view_inventory or permissions.can_add_new_item or permissions.can_update_item_inventory or permissions.can_physical_count or permissions.can_manage_suppliers or permissions.can_configure_inventory %}
      <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.url_name in 'inventory_view inventory_addNewItem inventory_updateItem inventory_physicalCount inventory_manageSuppliers inventory_supplierDetails inventory_config inventory_itemDetails_view inventory_experiments' %}active{% else %}collapsed{% endif %}" data-bs-target="#inventory-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-box2"></i><span>Inventory</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="inventory-nav" class="nav-content collapse {% if request.resolver_match.url_name in 'inventory_view inventory_addNewItem inventory_updateItem inventory_physicalCount inventory_manageSuppliers inventory_supplierDetails inventory_config inventory_itemDetails_view inventory_experiments' %}show{% endif %}" data-bs-parent="#sidebar-nav">
            {% if permissions.can_view_inventory %}  
            <li>
                <a href="{% url 'inventory_view' %}" class="{% if request.resolver_match.url_name in 'inventory_view inventory_itemDetails_view' %}active{% endif %}">
                    <i class="bi bi-circle"></i><span>View Inventory</span>
                </a>
            </li>
            {% endif %}
            {% if permissions.can_add_new_item %}
            <li>
                <a href="{% url 'inventory_addNewItem' %}" class="{% if request.resolver_match.url_name == 'inventory_addNewItem' %}active{% endif %}">
                    <i class="bi bi-circle"></i><span>Add New Item</span>
                </a>
            </li>
            {% endif %}
            {% if permissions.can_update_item_inventory %}
            <li>
                <a href="{% url 'inventory_updateItem' %}" class="{% if request.resolver_match.url_name == 'inventory_updateItem' %}active{% endif %}">
                    <i class="bi bi-circle"></i><span>Update Item Quantity</span>
                </a>
            </li>
            {% endif %}
            {% if permissions.can_physical_count %}
            <li>
                <a href="{% url 'inventory_physicalCount' %}" class="{% if request.resolver_match.url_name == 'inventory_physicalCount' %}active{% endif %}">
                    <i class="bi bi-circle"></i><span>Physical Count / System Reconciliation</span>
                </a>
            </li>
            {%endif%}
            {% if permissions.can_manage_suppliers %}
            <li>
                <a href="{% url 'inventory_manageSuppliers' %}" class="{% if request.resolver_match.url_name == 'inventory_manageSuppliers inventory_supplierDetails' %}active{% endif %}">
                    <i class="bi bi-circle"></i><span>Manage Suppliers</span>
                </a>
            </li>
            {%endif%}
            {% if permissions.can_configure_inventory %}
            <li>
                <a href="{% url 'inventory_config' %}" class="{% if request.resolver_match.url_name == 'inventory_config' %}active{% endif %}">
                    <i class="bi bi-circle"></i><span>Inventory Config</span>
                </a>
            </li>
            {%endif%}

            <li>
              <a href="{% url 'inventory_experiments' %}" class="{% if request.resolver_match.url_name == 'inventory_experiments' %}active{% endif %}">
                  <i class="bi bi-circle"></i><span>Experiments</span>
              </a>
          </li>
        </ul>
    </li><!-- End inventory Nav -->
    {% endif %}
    {% endif %}

    {% if 2 in selected_lab_modules %}
{% if permissions.can_borrow_items or permissions.can_view_borrowed_items or permissions.can_view_booking_requests or permissions.can_return_item or permissions.can_configure_borrowing %}
<li class="nav-item">
  <a class="nav-link {% if request.resolver_match.url_name in 'borrowing_studentPrebook borrowing_studentWalkin borrowing_studentviewPreBookRequests borrowing_labcoord_prebookrequests  borrowing_labcoord_detailedPrebookrequests borrowing_labtech_prebookrequests return_borrowed_items borrowing_labtech_detailedprebookrequests' %}active{% else %}collapsed{% endif %}" data-bs-target="#borrow-nav" data-bs-toggle="collapse" href="#">
      <i class="bi bi-journal-text"></i><span>Borrowing</span><i class="bi bi-chevron-down ms-auto"></i>
  </a>
  <ul id="borrow-nav" class="nav-content collapse {% if request.resolver_match.url_name in 'borrowing_studentPrebook borrowing_studentWalkin borrowing_studentviewPreBookRequests borrowing_studentviewWalkInRequests borrowing_studentDetailedPreBookRequests borrowing_studentDetailedWalkInRequests borrowing_labcoord_prebookrequests borrowing_labcoord_borrowconfig borrowing_labcoord_detailedPrebookrequests borrowing_labtech_prebookrequests return_borrowed_items borrowing_labtech_detailedprebookrequests' %}show{% endif %}" data-bs-parent="#sidebar-nav">
      {% if permissions.can_borrow_items %}
      {% if borrow_config.allow_prebook %}
      <li>
          <a href="{% url 'borrowing_studentPrebook' %}" class="{% if request.resolver_match.url_name == 'borrowing_studentPrebook' %}active{% endif %}">
              <i class="bi bi-circle"></i><span>Borrow Item (Pre-Book)</span>
          </a>
      </li>
      {%endif%}
      
      {% if borrow_config.allow_walkin %}
      <li>
          <a href="{% url 'borrowing_studentWalkin' %}" class="{% if request.resolver_match.url_name == 'borrowing_studentWalkin' %}active{% endif %}">
              <i class="bi bi-circle"></i><span>Borrow Item (Walk-In)</span>
          </a>
      </li>
      {%endif%}
      {%endif%}
      {% if permissions.can_borrow_items %}
      <li>
          <a href="{% url 'borrowing_studentviewPreBookRequests' %}" class="{% if request.resolver_match.url_name in 'borrowing_studentviewPreBookRequests borrowing_studentDetailedPreBookRequests' %}active{% endif %}">
              <i class="bi bi-circle"></i><span>My Borrowed Items</span>
          </a>
      </li>
      {%endif%}
      <!-- <li>
          <a href="{% url 'borrowing_studentviewWalkInRequests' %}" class="{% if request.resolver_match.url_name in 'borrowing_studentviewWalkInRequests borrowing_studentDetailedWalkInRequests' %}active{% endif %}">
              <i class="bi bi-circle"></i><span>STUDENT - View Walk-In Requests</span>
          </a>
      </li> -->
      {% if permissions.can_view_booking_requests %}
      <li>
        <a href="{% url 'borrowing_labcoord_prebookrequests' %}" class="{% if request.resolver_match.url_name in 'borrowing_labcoord_prebookrequests borrowing_labcoord_detailedPrebookrequests' %}active{% endif %}">
            <i class="bi bi-circle"></i><span>View Borrowing Requests </span>
        </a>
      </li>
      {%endif%}
      {% if permissions.can_view_borrowed_items %}
    <li>
      <a href="{% url 'borrowing_labtech_prebookrequests' %}" class="{% if request.resolver_match.url_name in 'borrowing_labtech_prebookrequests borrowing_labtech_detailedprebookrequests' %}active{% endif %}">
          <i class="bi bi-circle"></i><span>Prepare Items Borrowed</span>
      </a>
    </li>
    {%endif%}
    {% if permissions.can_return_item %}
    <li>
      <a href="{% url 'return_borrowed_items' %}" class="{% if request.resolver_match.url_name in 'return_borrowed_items' %}active{% endif %}">
          <i class="bi bi-circle"></i><span>Return Items Borrowed</span>
      </a>
    </li>
    {%endif%}
    {% if permissions.can_configure_borrowing %}
    <li>
      <a href="{% url 'borrowing_labcoord_borrowconfig' %}" class="{% if request.resolver_match.url_name == 'borrowing_labcoord_borrowconfig' %}active{% endif %}">
          <i class="bi bi-circle"></i><span>Borrowing Configuration</span>
      </a>
  </li>
  {%endif%}
  </ul>
</li><!-- End Borrowing Nav -->
    {% endif %}
    {% endif %}
    
    {% if 3 in selected_lab_modules %}
    {% if permissions.can_view_own_clearance or permissions.can_view_student_clearance %}
    <li class="nav-item">
      <a class="nav-link {% if request.resolver_match.url_name in 'clearance_student_viewClearance clearance_student_viewClearanceDetailed clearance_labtech_viewclearance clearance_labtech_viewclearanceDetailed' %}active{% else %}collapsed{% endif %}" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-layout-text-window-reverse"></i><span>Clearance</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="tables-nav" class="nav-content collapse {% if request.resolver_match.url_name in 'clearance_student_viewClearance clearance_student_viewClearanceDetailed clearance_labtech_viewclearance clearance_labtech_viewclearanceDetailed'%}show{% endif %} " data-bs-parent="#sidebar-nav">
        {% if permissions.can_view_own_clearance%}
        <li>
          <a href="{% url 'clearance_student_viewClearance' %}" class = "{% if request.resolver_match.url_name in 'clearance_student_viewClearance clearance_student_viewClearanceDetailed' %}active{% endif %}">
            <i class="bi bi-circle"></i><span>My Clearance</span>
          </a>
        </li>
        {% endif %}
        {% if permissions.can_view_student_clearance%}
        <li>
          <a href="{% url 'clearance_labtech_viewclearance' %}" class = "{% if request.resolver_match.url_name in 'clearance_labtech_viewclearance clearance_labtech_viewclearanceDetailed' %}active{% endif %}">
            <i class="bi bi-circle"></i><span>Manage Clearances</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </li><!-- End Tables Nav -->
      {% endif %}
      {% endif %}
    
      {% if 4 in selected_lab_modules %}
      {% if permissions.can_reserve_laboratory or permissions.can_view_reservations or permissions.can_approve_deny_reservations or permissions.can_configure_lab_reservation %}
      <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.url_name in 'lab_reservation_student_reserveLabChooseRoom lab_reservation_student_reserveLabChooseTime lab_reservation_student_reserveLabSummary lab_reservation_detail labres_labcoord_configroom labres_labcoord_configtime labres_lab_schedule labres_lab_reservationreqs labres_lab_reservationreqsDetailed lab_reservation_student_reserveLabConfirmDetails lab_reservation_preapproval create_wip list_wip view_wip clear_wip'%}active{% else %}collapsed{% endif %}" data-bs-target="#reserve-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-bookmark"></i><span>Lab Reservation</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="reserve-nav" class="nav-content collapse {% if request.resolver_match.url_name in 'lab_reservation_student_reserveLabChooseRoom lab_reservation_student_reserveLabChooseTime lab_reservation_student_reserveLabSummary lab_reservation_detail labres_labcoord_configroom labres_labcoord_configtime labres_lab_schedule labres_lab_reservationreqs labres_lab_reservationreqsDetailed lab_reservation_student_reserveLabConfirmDetails lab_reservation_preapproval create_wip list_wip view_wip clear_wip'%}show{% endif %} " data-bs-parent="#sidebar-nav">
          {% if permissions.can_reserve_laboratory%}
          <li>           
            <a href="{% url 'lab_reservation_student_reserveLabChooseRoom' %}" class = "{% if request.resolver_match.url_name in 'lab_reservation_student_reserveLabChooseRoom lab_reservation_student_reserveLabChooseTime lab_reservation_preapproval' %}active{% endif %}">
              <i class="bi bi-circle"></i><span>Reserve Laboratory</span>
            </a>
            <a href="{% url 'lab_reservation_student_reserveLabSummary' %}" class = "{% if request.resolver_match.url_name in 'lab_reservation_student_reserveLabSummary lab_reservation_detail' %}active{% endif %}">
              <i class="bi bi-circle"></i><span>My Room Reservations</span>
            </a>            
          </li>
          {% endif %}
          {% if permissions.can_view_reservations%}
          <li>     
            <a href="{% url 'labres_lab_schedule' %}" class = "{% if request.resolver_match.url_name in 'labres_lab_schedule' %}active{% endif %}">
              <i class="bi bi-circle"></i><span>Reservation Schedules</span>
            </a> 
          </li>
          {% endif %}
          {% if permissions.can_approve_deny_reservations%}
          <li>         
            <a href="{% url 'labres_lab_reservationreqs' %}" class = "{% if request.resolver_match.url_name in 'labres_lab_reservationreqs labres_lab_reservationreqsDetailed' %}active{% endif %}">
              <i class="bi bi-circle"></i><span>Reservation Requests</span>
            </a>
          </li>
          {% endif %}
          {% if permissions.can_configure_lab_reservation%}
          <li>
            <a href="{% url 'labres_labcoord_configroom' %}" class = "{% if request.resolver_match.url_name in 'labres_labcoord_configroom' %}active{% endif %}">
              <i class="bi bi-circle"></i><span>Configure Laboratory Reservation</span>
            </a>
          </li>
          {% endif %}
          {% if permissions.can_create_wip or permissions.can_view_wip%}
          <li>
            <a href="{% url 'list_wip' %}" class = "{% if request.resolver_match.url_name in 'list_wip view_wip' %}active{% endif %}">
              <i class="bi bi-circle"></i><span>Work-In-Progress</span>
            </a>
          </li>
          {% endif %}
          
        </ul>
      </li><!--  Nav -->
      {% endif %}

      {% endif %}
    
      {% if 5 in selected_lab_modules or logged_user.is_superuser %}
      {% if permissions.can_view_reports or logged_user.is_superuser %}
      <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.url_name in 'user_reports admin_reports inventory_reports borrowing_reports clearance_reports labres_reports'%}active{% else %}collapsed{% endif %}" data-bs-target="#reports-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-bar-chart"></i><span>Reports</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="reports-nav" class="nav-content collapse {% if request.resolver_match.url_name in 'user_reports admin_reports inventory_reports borrowing_reports clearance_reports labres_reports'%}show{% endif %}" data-bs-parent="#sidebar-nav">
          {% if permissions.can_view_reports or logged_user.is_superuser%}
          <li>
            <a href="{% if logged_user.is_superuser %}{% url 'admin_reports' %}{%else%}{% url 'user_reports' %}{%endif%}" class="{% if request.resolver_match.url_name in 'user_reports admin_reports'%}active{% else %}collapsed{% endif %}">
              <i class="bi bi-circle"></i><span>User Reports</span>
            </a>
          </li>
          {% endif %}
          {% if not logged_user.is_superuser and permissions.can_view_reports%}
            {% if 1 in selected_lab_modules%}
            <li>
              <a href="{% url 'inventory_reports' %}" class="{% if request.resolver_match.url_name in 'inventory_reports'%}active{% else %}collapsed{% endif %}">
                <i class="bi bi-circle"></i><span>Inventory Reports</span>
              </a>
            </li>
            {% endif %}
            {% if 2 in selected_lab_modules%}
            <li>
              <a href="{% url 'borrowing_reports' %}" class="{% if request.resolver_match.url_name in 'borrowing_reports'%}active{% else %}collapsed{% endif %}">
                <i class="bi bi-circle"></i><span>Borrowing Reports</span>
              </a>
            </li>
            {% endif %}
            {% if 3 in selected_lab_modules%}
            <li>
              <a href="{% url 'clearance_reports' %}" class="{% if request.resolver_match.url_name in 'clearance_reports'%}active{% else %}collapsed{% endif %}">
                <i class="bi bi-circle"></i><span>Clearance Reports</span>
              </a>
            </li>
            {% endif %}
            {% if 4 in selected_lab_modules%}
            <li>
              <a href="{% url 'labres_reports' %}" class="{% if request.resolver_match.url_name in 'reports labres_reports'%}active{% else %}collapsed{% endif %}">
                <i class="bi bi-circle"></i><span>Lab Reservation Reports</span>
              </a>
            </li>
            {% endif %}
          {% endif %}
        </ul>
      </li><!-- End Icons Nav -->
      {% endif %}
      {% endif %}
      
    

  </aside><!-- End Sidebar-->

  <main id="main" class="main">
      {% block content %}
      <!-- Content goes here -->
      {% endblock %}
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  {% comment %} <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </footer><!-- End Footer --> {% endcomment %}

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/chart.js/chart.umd.js' %}"></script>
  <script src="{% static 'assets/vendor/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'assets/vendor/quill/quill.js' %}"></script>
  <script src="{% static 'assets/vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{% static 'assets/vendor/tinymce/tinymce.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <!-- <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.3.1/js/dataTables.buttons.min.js"></script> 
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.3.1/js/buttons.html5.min.js"></script> -->
  <!-- <script src="{% static 'DataTables/datatables.min.js' %}"></script>
  <script src="{% static 'DataTables/datatables.js' %}"></script> -->
  

  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.0/dist/jquery.slim.min.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

  <!-- export datatales js -->
  <!-- <script tye="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script> -->
  <script type="text/javascript" src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/2.1.8/js/dataTables.bootstrap5.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/3.1.2/js/dataTables.buttons.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/3.1.2/js/buttons.bootstrap5.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/3.1.2/js/buttons.html5.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/3.1.2/js/buttons.print.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/3.1.2/js/buttons.colVis.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/fixedcolumns/5.0.3/js/dataTables.fixedColumns.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/fixedcolumns/5.0.3/js/fixedColumns.dataTables.js"></script>

  <script src="{% static 'assets/js/main.js' %}"></script>

   <!-- qr scanner -->
   <script type="module" src="https://cdn.jsdelivr.net/npm/qr-scanner@1.4.2/qr-scanner.min.js"></script>
   
</body>

</html>