{% extends 'temp_navbar.html' %}
{% block title %}Manage Laboratories{% endblock %}
{% block content %}
<style>
  .status-active {
    color: green;
    font-weight: bold;
  }

  .status-terminated {
    color: red;
    font-weight: bold;
  }
</style>

<div class="pagetitle">
  <h1>Setup</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item active">Manage Laboratories</li>
    </ol>
  </nav>
</div>
<!-- End Page Title -->

{% if messages %}
<div class="alert alert-success">
  {% for message in messages %}
    {{ message }}
  {% endfor %}
</div>
{% endif %}

<section class="section">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Laboratories</h5>

          <!-- Table with stripped rows -->
          <table class="table datatable">
            <thead>
              <tr>
                <th style="text-align:left;">Name</th>
                <th style="text-align:left;"  >Description</th>
                <th>Users</th>
                <th>Date Created</th>
                <th hidden></th>
                <th hidden></th>
              </tr>
            </thead>
            <tbody>
              {% for lab in labs %}
              <tr class="clickable-row" onclick="window.location.href='{% url 'superuser_lab_info' lab.laboratory_id %}'">
                <td style="text-align:left;">{{ lab.name }}</td>
                <td style="text-align:left;">{{ lab.description }}</td>
                <td>{{ lab.user_count }}</td>
                <td>{{ lab.date_created|date:"Y-m-d" }}</td>
                <!-- <td>
                  <span class="{% if lab.is_available %}status-active{% else %}status-terminated{% endif %}">
                    {{ lab.get_status }}
                  </span>
                </td> -->
                <td hidden></td>
                <td hidden></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <!-- End Table with stripped rows -->
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
