{% extends 'temp_navbar.html' %} {% block title %}SUPERUSER - Manage
Laboratories{% endblock %} {% block content %}
<style>
  .status-active {
    color: green;
    font-weight: bold;
  }

  .status-terminated {
    color: red;
    font-weight: bold;
  }
</style>

<div class="pagetitle">
  <h1>Setup</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item active">Manage Laboratories</li>
    </ol>
  </nav>
</div>
<!-- End Page Title -->

<section class="section">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Laboratories</h5>

          <!-- Table with stripped rows -->
          <table class="table datatable">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>No. of Users</th>
                <th>Date Created</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Chem Lab AY 23-24</td>
                <td>45</td>
                <td>12/03/20</td>
                <td><span class="status-active">Active</span></td>
              </tr>
              <tr>
                <td>2</td>
                <td>Physics Lab AY 23-24</td>
                <td>15</td>
                <td>12/13/22</td>
                <td><span class="status-terminated">Terminated</span></td>
              </tr>
            </tbody>
          </table>
          <!-- End Table with stripped rows -->
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
