{% extends 'temp_navbar.html' %}
{% block title %}SUPERUSER - Manage Users{% endblock %}
{% block content %}
<style>
  .status-active {
    color: green;
    font-weight: bold;
  }
  .status-terminated {
    color: red;
    font-weight: bold;
  }
</style>

<div class="pagetitle">
  <h1>Setup</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item active">Manage Users</li>
    </ol>
  </nav>
</div>
<!-- End Page Title -->

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
{% endif %}

<section class="section">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <!-- Button to trigger Add User Modal -->
          <button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#addUserModal">Add New User</button>
          <button type="button" class="btn btn-secondary mb-3" data-toggle="modal" data-target="#uploadUsersModal">Bulk Upload Users</button>
          <!-- Users Table -->
          <table class="table datatable" id="usertable">
            <thead class="thead-dark">
              <tr>
                <th style="text-align:left;">Email</th>
                <th style="text-align:left;">Name</th>
                <th>Date Joined</th>
                <th>Status</th>
                <th>User Type</th>
              </tr>
            </thead>
            <tbody>
              {% for user in users %}
              <tr class="clickable-row" onclick="window.location.href='{% url 'superuser_user_info' user.user_id %}'">
                <td style="text-align:left;">{{ user.email }}</td>
                <td style="text-align:left;">{{ user.firstname }} {{ user.lastname }}</td>
                <td>{{ user.date_joined|date:"Y-m-d" }}</td>
                <td>
                  <span class="{% if not user.is_deactivated %}status-active{% else %}status-terminated{% endif %}">
                    {% if not user.is_deactivated %}Active{% else %}Deactivated{% endif %}
                  </span>
                </td>
                <td>{% if user.is_superuser %}Admin{% else %}User{% endif %}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Add User Modal -->
<div class="modal fade" id="addUserModal" tabindex="-1" aria-labelledby="addUserModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="POST" action="{% url 'add_user' %}" onsubmit="return validatePasswords()">
        {% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title" id="addUserModalLabel">Add New User</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="firstname">First Name*</label>
            <input type="text" class="form-control" id="firstname" name="firstname" required>
          </div>
          <div class="form-group">
            <label for="lastname">Last Name*</label>
            <input type="text" class="form-control" id="lastname" name="lastname" required>
          </div>
          <div class="form-group">
            <label for="idnum">ID Number</label>
            <input type="text" class="form-control" id="idnum" name="idnum">
          </div>
          <div class="form-group">
            <input type="checkbox" id="is_superuser" name="is_superuser">
            <label for="is_superuser">Is Superuser <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="right" title="Make this account superuser"></i></label>
          </div>
          <hr>
          <div class="form-group">
            <label for="email">Email*</label>
            <input type="text" class="form-control" id="email" name="email" required>
          </div>
          <div class="form-group">
            <label for="password">Password* <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="right" title="Password must be at least 8 characters long, contain at least one uppercase letter, one lowercase letter, one number, and one special character."></i></label>
            <input type="password" class="form-control" id="password" name="password" required>
          </div>
          <div class="form-group">
            <label for="confirm_password">Confirm Password*</label>
            <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
            <div id="passwordError" class="error-message" style="display: none; color: red;">Passwords do not match. Please try again.</div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Add User</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Bulk Upload Modal -->
<div class="modal fade" id="uploadUsersModal" tabindex="-1" aria-labelledby="uploadUsersModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="POST" action="{% url 'bulk_upload_users' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title" id="uploadUsersModalLabel">Bulk Upload Users</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="userfile">Upload Excel File</label>
            <input type="file" class="form-control" id="userfile" name="userfile" accept=".xlsx" required>
          </div>
          <p>
            <strong>Format:</strong> First Name, Last Name, ID Number, Email, Password (in order).<br>
            Ensure the file has these headers in the first row.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Upload</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  });

  function validatePasswords() {
    var password = document.getElementById("password").value;
    var confirmPassword = document.getElementById("confirm_password").value;
    var errorMessage = document.getElementById("passwordError");

    // Define the password policy
    var passwordPolicy = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;

    if (!passwordPolicy.test(password)) {
      errorMessage.textContent = "Password must be at least 8 characters long, contain at least one uppercase letter, one lowercase letter, one number, and one special character.";
      errorMessage.style.display = "block";
      return false;
    }

    if (password !== confirmPassword) {
      errorMessage.textContent = "Passwords do not match. Please try again.";
      errorMessage.style.display = "block";
      return false;
    } else {
      errorMessage.style.display = "none";
      return true;
    }
  }
</script>
{% endblock %}
