<div class="modal fade" id="addRoomModal" tabindex="-1" aria-labelledby="addRoomModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form action="{% url 'add_room' laboratory_id=lab.laboratory_id %}" method="post">
          {% csrf_token %}
          <div class="modal-header">
            <h5 class="modal-title" id="addRoomModalLabel">Add Room</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="room_name">Room Name</label>
              <input type="text" class="form-control" id="room_name" name="room_name" required />
            </div>
            <div class="form-group">
              <label for="room_description">Description</label>
              <input type="text" class="form-control" id="room_description" name="room_description" required />
            </div>
            <div class="form-group">
              <label for="room_capacity">Capacity</label>
              <input type="number" class="form-control" id="room_capacity" name="room_capacity" required />
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save Changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  