{% extends 'temp_navbar.html' %}
{% block title %}Confirm Reservation{% endblock %}
{% block content %}

<div class="pagetitle">
  <h1>Confirm Reservation</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="javascript: history.go(-1)">Reserve Room</a></li>
      <li class="breadcrumb-item active">Confirm Booking</li>
    </ol>
  </nav>
</div>
<!-- End Page Title -->
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
  {% endfor %}
{% endif %}

<section class="section">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Booking Details</h5>

          <!-- Display selected booking details -->
          <table class="table">
            <tr>
              <th>Reservation ID</th>
              <td>{{ reservation_data.res_id }}</td>
            </tr>
            <tr>
              <th>Room</th>
              <td>{{ reservation_data.room_name }} (Capacity: {{room.capacity}})</td>
            </tr>
            <tr>
              <tr>
                <th>Table</th>
                <td>{{ reservation_data.table_name }}</td>
              </tr>
              <th>Date</th>
              <td>{{ reservation_data.selected_date }}</td>
            </tr>
            <tr>
              <th>Start Time</th>
              <td>{{ reservation_data.start_time }}</td>
            </tr>
            <tr>
              <th>End Time</th>
              <td>{{ reservation_data.end_time }}</td>
            </tr>
          </table>

          <h5 class="card-title mt-4">User Details</h5>

          <!-- User Details Form -->
          <form method="POST" enctype="multipart/form-data" onsubmit="return validateForm()">
            {% csrf_token %}

              <!-- If the user is logged in, show pre-filled details -->
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Name:</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="contact_name" name="contact_name" {% if request.user.is_authenticated %} value="{{ request.user.firstname }} {{ request.user.lastname }}" readonly {% else %} required {% endif %}>
                </div>
              </div>

              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Email:</label>
                <div class="col-sm-10">
                  <input type="email" class="form-control" id="contact_email" name="contact_email" {% if request.user.is_authenticated %} value="{{ request.user.email }}" readonly {% else %} required {% endif %}>
                </div>
              </div>

            <div class="row mb-3">
              <label for="num_people" class="col-sm-2 col-form-label">Number of People:</label>
              <div class="col-sm-10">
                <input type="number" class="form-control" id="num_people" name="num_people" {% if preapproval_details %} value="{{ preapproval_details.num_people }}" readonly {% else %} required {% endif %}>
              </div>
            </div>

            <div class="row mb-3">
              <label for="purpose" class="col-sm-2 col-form-label">Purpose:</label>
              <div class="col-sm-10">
                <textarea class="form-control" id="purpose" name="purpose" rows="3" {% if preapproval_details %} readonly {% else %} required {% endif %}>
                  {% if preapproval_details %}{{ preapproval_details.purpose }}{% endif %}
                </textarea>
              </div>
            </div>

            

            <!-- Terms and Conditions -->
            {% if reserv_config.tc_description %}
            <div class="row mb-3">
              <div class="col-sm-10">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="accept_tc" required>
                  <label class="form-check-label" for="accept_tc">
                    I accept the <a href="#" data-bs-toggle="modal" data-bs-target="#tcModal">terms and conditions</a>.
                  </label>
                </div>
              </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="tcModal" tabindex="-1" aria-labelledby="tcModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="tcModalLabel">Terms and Conditions</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <p style="white-space: pre-line;">{{ reserv_config.tc_description }}</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}

            <div class="row mb-3">
              <button type="submit" class="btn btn-primary btn-lg btn-block">Confirm Booking</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</section>

<script>
  function validateForm() {
    if (!document.getElementById('accept_tc').checked) {
      alert('You must accept the terms and conditions before confirming your booking.');
      return false;
    }
    return true;
  }
</script>

{% endblock %}
