{% extends 'temp_navbar.html' %}
{% block title %}Reserve Laboratory{% endblock %}
{% block content %}

<style>
  #deletebtn {
        background: red;
        border: 0;
        padding: 10px 20px;
        color: #fff;
        transition: 0.4s;
        border-radius: 4px;
    }
    #deletebtn:hover {
        text-decoration: underline;
    }
</style>

<div class="pagetitle">
  <h1>Room & Time Configuration</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item active">Room and Time Configurations</li>
    </ol>
  </nav>
</div>

{% if messages %}
  <div class="alert alert-success">
    {{ messages }}
  </div>
{% endif %}

<!-- Room Configuration Section -->
<section class="section">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Add Room</h5>
          <form method="POST">
            {% csrf_token %}
            <div class="row mb-3">
              <label for="room_name" class="col-sm-2 col-form-label">Room Name:</label>
              <div class="col-sm-4">
                <input type="text" id="room_name" name="room_name" class="form-control" placeholder="Enter room name" required>
              </div>

              <label for="room_capacity" class="col-sm-2 col-form-label">Capacity:</label>
              <div class="col-sm-4">
                <input type="number" id="room_capacity" name="room_capacity" class="form-control" placeholder="Enter room capacity" min="0" oninput="validity.valid||(value='');" required>
              </div>
            </div>

            <div class="row mb-3">
              <label for="room_description" class="col-sm-2 col-form-label">Description:</label>
              <div class="col-sm-10">
                <input type="text" id="room_description" name="room_description" class="form-control" placeholder="Enter room description" maxlength="100">
              </div>
            </div>

            <button type="submit" name="add_room" class="btn btn-primary">Add Room</button>
          </form>

          <hr>

          <h5 class="card-title">Manage Rooms</h5>
          <form method="POST">
            {% csrf_token %}
            <div class="table-responsive">
              <table class="table datatable">
                <thead>
                  <tr>
                    <th>Room Name</th>
                    <th>Capacity</th>
                    <th>Description</th>
                    <th>Enable for Reservation</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
                  {% for room in rooms %}
                  <tr>
                    <td>{{ room.name }}</td>
                    <td>{{ room.capacity }}</td>
                    <td>{{ room.description }}</td>
                    <td><input type="checkbox" name="room_{{ room.room_id }}_enabled" {% if room.is_reservable %}checked{% endif %}></td>
                    <td>
                      <button type="submit" name="delete_room" value="{{ room.room_id }}" class="btn btn-danger">Delete</button>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>

            <button type="submit" name="save_rooms" class="btn btn-primary">Save Room Configuration</button>
            <button type="submit" name="cancel" class="btn btn-secondary">Cancel</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- General Time Configuration Section (For All Rooms) -->
<section class="section">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Time Slot Configuration (For All Rooms)</h5>
          <form method="POST">
            {% csrf_token %}
            <div class="row mb-3">
              <label for="room_capacity" class="col-sm-2 col-form-label">Reservation Lead Time:</label>
              <div class="col-sm-4">
                <input type="number" id="lead_time" name="lead_time" class="form-control" value="{{reservation_config.leadtime}}" min="0" oninput="validity.valid||(value='');" required>
              </div>
            </div>

            <!-- Reservation Type -->
            <div class="form-group row mb-3">
              <label class="col-sm-10 col-form-label">Time Slot Type:</label>
              <div class="col-sm-4">
                <input type="radio" name="reservation_type" value="class" {% if reservation_config.reservation_type == 'class' %}checked{% endif %} onclick="changeTimeSlots('class')"> Class Time
              </div>
              <div class="col-sm-4">
                <input type="radio" name="reservation_type" value="hourly" {% if reservation_config.reservation_type == 'hourly' %}checked{% endif %} onclick="changeTimeSlots('hourly')"> Hourly
              </div>
            </div>

            <!-- Hourly Time Input -->
            <div class="row mb-3" id="hourlyTimeInputs" style="display:{% if reservation_config.reservation_type == 'hourly' %}flex{% else %}none{% endif %};">
              <label for="hourly_start_time" class="col-sm-2 col-form-label">Start Time:</label>
              <div class="col-sm-4">
                <input type="time" id="hourly_start_time" name="hourly_start_time" class="form-control" {%if reservation_config.start_time %} value="{{ reservation_config.start_time|time:'H:i' }}" {%else%} value="07:00" {%endif%}>
              </div>

              <label for="hourly_end_time" class="col-sm-2 col-form-label">End Time:</label>
              <div class="col-sm-4">
                <input type="time" id="hourly_end_time" name="hourly_end_time" class="form-control" {%if reservation_config.end_time %} value="{{ reservation_config.end_time|time:'H:i' }}" {%else%} value="17:00" {%endif%}>
              </div>
            </div>

            <button type="submit" name="save_time" class="btn btn-primary">Save Time Configuration</button>
          </form>
          <hr>

          <h5 class="card-title">Select Available Time Slots for Rooms</h5>

          <form method="POST" id="timeConfigForm">
            {% csrf_token %}
            <!-- Room Selection -->
            <div class="form-group row mb-3">
              <div class="col-sm-4">
                <select id="roomSelect" name="room_id" class="form-control" required>
                  <option value="">--Select a Room--</option>
                  {% for room in rooms %}
                    <option value="{{ room.room_id }}" {% if room_configured and room.room_id == room_configured.room_id %}selected{% endif %}>{{ room.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <!-- Time Slot Configuration Table -->
            <div class="table-responsive">
              <div class="d-flex">
                <div class="p-2" style="background-color: green; width: 20px; height: 20px; border: 1px solid black;"></div>
                <div class="p-2">Available</div>
                <div class="p-2" style="background-color: red; width: 20px; height: 20px; border: 1px solid black; margin-left: 20px;"></div>
                <div class="p-2">Unavailable</div>
              </div>
              <table class="table table-bordered" id="timeSlotTable">
                <thead>
                  <tr>
                    <th>Time</th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Saturday</th>
                    <th>Sunday</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- Time slots and blocked times will be dynamically populated here -->
                </tbody>
              </table>
            </div>

            <button type="submit" name="save_timeblocked" class="btn btn-primary">Save Available Time Slots</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Reservations Configuration Section -->
<section class="section">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Reservations Configuration</h5>

          <!-- Require Approval Checkbox and PDF Upload -->
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-check mb-3">
              <input class="form-check-input" type="checkbox" id="requireApproval" name="require_approval" {% if reservation_config.require_approval %}checked{% endif %}>
              <label class="form-check-label" for="requireApproval">
                Require approval from Laboratory Coordinator
              </label>
            </div>

            <!-- Show PDF Upload only when require approval is checked -->
            <div class="mb-3" id="pdfUploadSection" style="display: {% if reservation_config.require_approval %}block{% else %}none{% endif %};">
              <label for="approvalForm" class="form-label">Upload PDF Form (optional)</label>
              <input class="form-control" type="file" id="approvalForm" name="approval_form">
            </div>

            <button type="submit" name="save_approval" class="btn btn-primary">Save Approval Configuration</button>
          </form>

          <hr>

          <!-- Terms and Conditions -->
          <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
              <label for="tcDescription" class="form-label">Terms and Conditions Description</label>
              <textarea class="form-control" id="tcDescription" name="tc_description" rows="4">{{ reservation_config.tc_description }}</textarea>
            </div>

            <button type="submit" name="save_tc" class="btn btn-primary">Save Terms and Conditions</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  document.getElementById('requireApproval').addEventListener('change', function () {
    const pdfUploadSection = document.getElementById('pdfUploadSection');
    if (this.checked) {
      pdfUploadSection.style.display = 'block';
    } else {
      pdfUploadSection.style.display = 'none';
    }
  });

  document.addEventListener('DOMContentLoaded', function() {
    // Trigger population of time slots immediately when page is loaded
    const roomSelect = document.getElementById('roomSelect');
    if (roomSelect.value) {
      loadRoomConfiguration(roomSelect.value);
    }

    roomSelect.addEventListener('change', function() {
      if (this.value) {
        loadRoomConfiguration(this.value);
      }
    });

    function loadRoomConfiguration(roomId) {
      fetch(`/get-room-configuration/${roomId}/`)
        .then(response => response.json())
        .then(data => {
          if (data.reservation_type) {
            const blockedTimes = data.blocked_time ? JSON.parse(data.blocked_time) : {};
            if (data.reservation_type === 'class') {
              populateTimeSlots('class', blockedTimes);
            } else if (data.reservation_type === 'hourly') {
              document.getElementById('hourly_start_time').value = data.start_time;
              document.getElementById('hourly_end_time').value = data.end_time;
              populateTimeSlots('hourly', blockedTimes, data.start_time, data.end_time);
            }
          }
        });
    }

    function populateTimeSlots(type, blockedTimes = {}, startTime = '', endTime = '') {
      const tableBody = document.querySelector('#timeSlotTable tbody');
      tableBody.innerHTML = ''; // Clear the table body

      if (type === 'class') {
        const classTimeSlots = [
          '7:30-9:00',
          '9:15-10:45',
          '11:00-12:30',
          '12:45-2:15',
          '2:30-4:00',
          '4:15-5:45',
          '6:00-7:30',
        ];

        classTimeSlots.forEach(timeSlot => {
          const row = document.createElement('tr');
          const timeCell = document.createElement('td');
          timeCell.textContent = timeSlot;
          row.appendChild(timeCell);

          ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'].forEach(day => {
            const cell = document.createElement('td');
            const checkbox = document.createElement('input');
            checkbox.type = 'checkbox';
            checkbox.name = `${day}_time_slots`;
            checkbox.value = timeSlot;
            checkbox.dataset.time = `${day}_${timeSlot}`;

            const timeKey = `${day}_${timeSlot}`;
            if (blockedTimes[day] && blockedTimes[day].includes(timeSlot)) {
              checkbox.checked = true;
              cell.style.backgroundColor = 'red';
            } else {
              cell.style.backgroundColor = 'green';
            }

            checkbox.addEventListener('change', function() {
              if (checkbox.checked) {
                cell.style.backgroundColor = 'red';
              } else {
                cell.style.backgroundColor = 'green';
              }
            });

            cell.appendChild(checkbox);
            row.appendChild(cell);
          });

          tableBody.appendChild(row);
        });
      } else if (type === 'hourly') {
        const [startHour, startMinute] = startTime.split(':').map(Number);
        const [endHour, endMinute] = endTime.split(':').map(Number);

        let currentHour = startHour;
        let currentMinute = startMinute;

        while (currentHour < endHour || (currentHour === endHour && currentMinute < endMinute)) {
          const nextHour = (currentHour + 1).toString().padStart(2, '0');
          const timeSlot = `${currentHour.toString().padStart(2, '0')}:${currentMinute.toString().padStart(2, '0')}-${nextHour}:${currentMinute.toString().padStart(2, '0')}`;

          const row = document.createElement('tr');
          const timeCell = document.createElement('td');
          timeCell.textContent = timeSlot;
          row.appendChild(timeCell);

          ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'].forEach(day => {
            const cell = document.createElement('td');
            const checkbox = document.createElement('input');
            checkbox.type = 'checkbox';
            checkbox.name = `${day}_time_slots`;
            checkbox.value = timeSlot;
            checkbox.dataset.time = `${day}_${timeSlot}`;

            const timeKey = `${day}_${timeSlot}`;
            if (blockedTimes[day] && blockedTimes[day].includes(timeSlot)) {
              checkbox.checked = true;
              cell.style.backgroundColor = 'red';
            } else {
              cell.style.backgroundColor = 'green';
            }

            checkbox.addEventListener('change', function() {
              if (checkbox.checked) {
                cell.style.backgroundColor = 'red';
              } else {
                cell.style.backgroundColor = 'green';
              }
            });

            cell.appendChild(checkbox);
            row.appendChild(cell);
          });

          tableBody.appendChild(row);
          currentHour++;
        }
      }
    }
  });

  
  // Trigger AJAX on room selection to load configuration dynamically
  document.addEventListener('DOMContentLoaded', function () {
    const hourlyTimeInputs = document.getElementById('hourlyTimeInputs');
    const classRadio = document.querySelector('input[name="reservation_type"][value="class"]');
    const hourlyRadio = document.querySelector('input[name="reservation_type"][value="hourly"]');

    // Initial load: Check which radio is selected
    if (classRadio.checked) {
      hourlyTimeInputs.style.display = 'none';  // Hide start/end time if 'class' is selected
    } else if (hourlyRadio.checked) {
      hourlyTimeInputs.style.display = 'flex';  // Show start/end time if 'hourly' is selected
    }

    // Add event listeners to handle radio button changes
    classRadio.addEventListener('change', function () {
      if (this.checked) {
        hourlyTimeInputs.style.display = 'none';  // Hide start/end time if 'class' is selected
      }
    });

    hourlyRadio.addEventListener('change', function () {
      if (this.checked) {
        hourlyTimeInputs.style.display = 'flex';  // Show start/end time if 'hourly' is selected
      }
    });
  });

  function populateBlockedTimes(blockedTimes) {
    const checkboxes = document.querySelectorAll('#timeSlotTable input[type="checkbox"]');
    checkboxes.forEach(checkbox => {
      const time = checkbox.getAttribute('data-time');
      const day = checkbox.name;
      if (blockedTimes.includes(`${day}_${time}`)) {
        checkbox.checked = true;
        checkbox.parentElement.style.backgroundColor = 'red';
      } else {
        checkbox.checked = false;
        checkbox.parentElement.style.backgroundColor = 'green';
      }
    });
  }

  // Handle checkbox state change to dynamically change the background color
  document.addEventListener('change', function(e) {
    if (e.target.matches('#timeSlotTable input[type="checkbox"]')) {
      if (e.target.checked) {
        e.target.parentElement.style.backgroundColor = 'red';
      } else {
        e.target.parentElement.style.backgroundColor = 'green';
      }
    }
  });
</script>

{% endblock %}
