{% extends 'temp_navbar.html' %}
{% block title %}Reserve Laboratory{% endblock %}
{% block content %}

<style>
  #schedule,th,td{
    border: 2px solid grey;
    text-align: center;
  }
  th,td{
    width: 50%;
  }
  #schedule{
    border-collapse: collapse;
    width:100%;
  }
</style>

<div class="pagetitle">
  <h1>Laboratory Reservation</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item active">Request Details</li>
    </ol>
  </nav>
</div>
<!-- End Page Title -->

<section class="section">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">

        <h5 class="card-title">Reservation ID: 12345</h5>
        <p><strong>Name: </strong>Ash Ketchum</p>
        <p><strong>Room Requested: </strong>GK302</p>
        <p><strong>Date: </strong>2024/05/12</p> <!-- may have date ranges? -->
        <p><strong>Start Time: </strong>4:15PM</p>
        <p><strong>End Time: </strong>5:15PM</p>
        <p><strong>Purpose: </strong>Lab Purpose</p>
        <p><strong>Status: </strong>Pending</p>

            <!-- Select Room -->
          <form id="roomSelector">
            <div class="row mb-3">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Approve</button>
                    <button type="submit" class="btn btn-secondary">Reject</button>
                </div>

            </div>
          </form>  


        <div>
            
          
        </div>
        </div>
      </div>
    </div>
  </div>
</section>





{% endblock %}
