{% extends 'temp_navbar.html' %}
{% block title %}Reservation Details{% endblock %}
{% block content %}

<style>
  #schedule, th, td {
    border: 2px solid grey;
    text-align: center;
  }
  th, td {
    width: 50%;
  }
  #schedule {
    border-collapse: collapse;
    width:100%;
  }
</style>

<div class="pagetitle">
  <h1>Laboratory Reservation</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="javascript: history.go(-1)">Reservation Requests</a></li>
      <li class="breadcrumb-item active">Request Details</li>
    </ol>
  </nav>
</div>

<section class="section">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Reservation ID: {{ reservation.reservation_id }}</h5>
          <p><strong>Name: </strong>{{ reservation.contact_name }}</p>
          <p><strong>E-Mail: </strong>{{ reservation.contact_email }}</p>
          <p><strong>Contact Number: </strong>{{ reservation.contact_number }}</p>
          <p><strong>Room Requested: </strong>{{ room.name }}</p>
          <p><strong>Request Date: </strong>{{ reservation.request_date|date:"Y/m/d h:iA" }}</p>
          <p><strong>Date: </strong>{{ reservation.start_date|date:"Y/m/d" }}</p>
          <p><strong>Start Time: </strong>{{ reservation.start_time|time:"g:iA" }}</p>
          <p><strong>End Time: </strong>{{ reservation.end_time|time:"g:iA" }}</p>
          <p><strong>Purpose: </strong>{{ reservation.purpose }}</p>
          <p><strong>Number of People: </strong>{{ reservation.num_people }}</p>
          <p><strong>Status: </strong>{{ reservation.get_status_display }}</p>

          <form method="POST">
            {% csrf_token %}
            <button type="submit" name="action" value="accept" class="btn btn-success">Accept</button>
            <button type="submit" name="action" value="delete" class="btn btn-danger">Decline</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
