{% extends 'temp_navbar.html' %}
{% block title %}View Clearance{% endblock %}

{% block content %}
  
<style>
  .status-pending {
      background-color: red;  /* Red background for Pending */
      color: white;           /* White text for Pending */
      padding: 5px 10px;     /* Some padding */
      border-radius: 5px;    /* Rounded corners */
      display: inline-block;  /* Display as inline-block for padding */
  }

  .status-cleared {
      background-color: green; /* Green background for Cleared */
      color: white;            /* White text for Cleared */
      padding: 5px 10px;      /* Some padding */
      border-radius: 5px;     /* Rounded corners */
      display: inline-block;   /* Display as inline-block for padding */
  }
</style>


  <div class="pagetitle">
    <h1>Clearance</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a href="{% url 'clearance_labtech_viewclearance' %}">View Clearance</a></li>
        <li class="breadcrumb-item active">Clearance Details</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <!-- Success message -->
  {% if messages %}
    <div class="alert alert-success">
      {% for message in messages %}
        {{ message }}
      {% endfor %}
    </div>
  {% endif %}

  {% if user_role == 2 and 3 not in selected_lab_modules or not is_available_lab %}
<div class="alert alert-danger" role="alert">
  The module is currently disabled, but you can still access the data.
</div>
{% endif %}


  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Clearance Details</h5>
  
            <form method="POST">
              {% csrf_token %}
              <div id="clearanceDetails">
              <div class="row mb-3">
                
                <label for="RFno" class="col-sm-2 col-form-label">RF No.:</label>
                <div class="col-sm-10">
                  
               
                    {{ report_data.borrow_id }}
               
             
                </div>
              </div>
  
              <div class="row mb-3">
                <label for="studentName" class="col-sm-2 col-form-label">Student Name:</label>
                <div class="col-sm-10">
                  
                
                    {{ report_data.user_name }}
             

                </div>
              </div>

              <div class="row mb-3">
                <label for="email" class="col-sm-2 col-form-label">Email:</label>
                <div class="col-sm-10">
                    {{ report_data.user_email }}
                </div>
            </div>
            

              <div class="row mb-3 border-1">
                <span for="IDNumber" class="col-2 col-form-label">ID Number:</span>
                <span class="col-10">
                  
                
                    {{ report_data.id_number }}
               
                
                </span>
              </div>
  
              <div class="row mb-3">
                <label for="itemName" class="col-sm-2 col-form-label">Item:</label>
                <div class="col-sm-10">
             
                    {{ report_data.item_name }}
               
                 
                 
                </div>
              </div>
  
              <div class="row mb-3">
                <label for="reason" class="col-sm-2 col-form-label">Reason:</label>
                <div class="col-sm-10">
                  
                    {{ report_data.reason }}
            
                </div>
              </div>
  
              <div class="row mb-3">
                <label for="amtdue" class="col-sm-2 col-form-label">Amount Due (₱):</label>
                <div class="col-sm-10">               
              
                    {{ report_data.amount_due }}
                 
                </div>
              </div>
  
              <div class="row mb-3">
                <label for="remarks" class="col-sm-2 col-form-label">Remarks:</label>
                <div class="col-sm-10">
                
                    {{ report_data.remarks }}
                
                </div>
              </div>
  
              <div class="row mb-3">
                <label for="status" class="col-sm-2 col-form-label">Status:</label>
                <div class="col-sm-10">
                    {% if report_data.status == 'Pending' %}
                        <span class="status-pending">{{ report_data.status }}</span>
                    {% else %}
                        <span class="status-cleared">{{ report_data.status }}</span>
                    {% endif %}
                    
                </div>

                <div class="row mb-3">
                  <label for="clearedBy" class="col-sm-2 col-form-label">Cleared By:</label>
                  <div class="col-sm-10">
                  
                    {{ report_data.cleared_by }}
                  
                  </div>
                </div>

          </div>
            
  
              <div class="row mb-5">
                <div class="col-sm-10 d-flex align-items-center">        
                    <button type="submit" class="btn btn-primary me-3" {% if report_data.status == 'Cleared' %} disabled {% endif %} {%if not is_available_lab%} disabled {%endif%} {% if user_role == 2 and 3 not in selected_lab_modules %} disabled {%endif%}>Mark as Cleared</button>
                </div>
            </div>
            
            
     
            </form>
            <button class="btn btn-info" id="downloadBtn">Download PDF</button>
          </div>
          
        </div>
        
      </div>

    </div>
  </section>

  <script type="text/javascript">

    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('downloadBtn').addEventListener('click', function() {
            const { jsPDF } = window.jspdf;
            const doc = new jsPDF();

            const labName = '{{ laboratory_name }}';
            doc.setFont("helvetica", "bold"); 
            doc.text(`${labName} Clearance Details`, 105, 20, { align: 'center'});

            doc.setFont("helvetica", "normal"); 

            const rfNumber = '{{ report_data.borrow_id }}';
            const studentName = '{{report_data.user_name}}';
            const email = '{{report_data.user_email}}'
            const idNumber = '{{report_data.id_number}}';
            const itemName = '{{report_data.item_name}}';
            const reason = '{{report_data.reason}}';
            const amountDue = '{{report_data.amount_due}}';
            const remarks = '{{report_data.remarks}}';
            const status = '{{report_data.status}}';
            const clearedBy = '{{report_data.cleared_by}}'

      
            const clearanceData = [
              `RF No.: ${rfNumber}`,
              `Student Name: ${studentName}`,
              `Email: ${email}`,
              `ID Number: ${idNumber}`,
              `Item: ${itemName}`,
              `Reason: ${reason}`,
              `Amount Due (PHP): ${amountDue}`,
              `Remarks: ${remarks}`,
              `Status: ${status}`,
              `Cleared By: ${clearedBy}`,
          ];

            
            const margin = 40;
            const lineHeight = 10;
            let yPosition = margin;

            doc.setFontSize(12);
          

      
        clearanceData.forEach((line) => {
          doc.text(line, margin, yPosition);
          yPosition += lineHeight;

          // Add a new page if content exceeds page height
          if (yPosition > doc.internal.pageSize.getHeight() - margin) {
              doc.addPage();
              yPosition = margin;
          }
      });

            const fileName = `clearance_RF#${rfNumber}_ID#${idNumber}_${status}.pdf`;
    
            
            doc.save(fileName);
        });
    });
  </script>
{% endblock %}
