{% extends 'temp_navbar.html' %}
{% block title %}View Clearance{% endblock %}

{% block content %}
<div class="pagetitle">
    <h1>Clearance</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'clearance_student_viewClearance' %}">View Clearance</a></li>
            <li class="breadcrumb-item active">Clearance Details</li>
        </ol>
    </nav>
</div>

{% if messages %}
<div class="alert alert-success">
    {% for message in messages %}
    {{ message }}
    {% endfor %}
</div>
{% endif %}

<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Report ID: {{ report.report_id }}</h5>
                    <p><strong>Borrow ID:</strong> {{ borrow_details.borrow_id }}</p>
                    <p><strong>Date Requested:</strong> {{ borrow_details.request_date|date:"Y/m/d" }}</p>
                    <p><strong>Date Needed:</strong> {{ borrow_details.borrow_date|date:"Y/m/d" }}</p>
                    <p><strong>Due Date:</strong> {{ borrow_details.due_date|date:"Y/m/d" }}</p>

                    {% if borrow_details.questions_responses %}
                    <p><strong>Additional Questions:</strong></p>
                    <ul>
                        {% for question, response in borrow_details.questions_responses.items %}
                        <li><strong>{{ question }}:</strong> {{ response }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}

                    <h5 class="card-title">Clearance Details</h5>

                    <!-- Reported Items Table -->
                    <table class="table datatable" id="reportedItemsTable">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Reason</th>
                                <th>Quantity</th>
                                <th>Amount to Pay</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for report in report_details %}
                            <tr>
                                <td>{{ report.item.item_name }}</td>
                                <td class="red-text">{{ report.report_reason }}</td> <!-- Reason text will be red -->
                                <td>{{ report.qty_reported }}</td>
                                <td>{{ report.amount_to_pay }}</td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="4">No reports available.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
      
        </div>
    </div>
    <p>Kindly proceed to the lab to settle payment.</p>
    <button class="btn btn-info" id="downloadBtn">Download PDF</button>
</section>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('downloadBtn').addEventListener('click', function() {
          
            const { jsPDF } = window.jspdf;
            const doc = new jsPDF();
            
            doc.setFont("helvetica", "bold"); 
            const labName = '{{ laboratory_name }}'
            doc.text(`${labName} Clearance Details`, 105, 20, { align: 'center' });

            doc.setFont("helvetica", "normal"); 


            const rfNumber = '{{ report.report_id }}';
            const studentName = '{{report_data.user_name}}';
            const itemName = '{{report_data.item_name}}';
            const reason = '{{report_data.reason}}';
            const amountDue = '{{report_data.amount_due}}';
            const remarks = '{{report_data.remarks}}';
            const status = '{{report_data.status}}';
  
            doc.setFontSize(12);
 
  
           
            doc.autoTable({ html: '#reportedItemsTable', startY: 40 });
            const fileName = `clearance_RF#${rfNumber}.pdf`;
            doc.save(fileName);
   
        });
    });
  
    function cancelRequest(rfNumber) {
        alert('Cancel request for Borrow ID: ' + rfNumber);
    }
  </script>
{% endblock %}
