{% extends 'temp_navbar.html' %}
{% block title %}Pre-Book Requests{% endblock %}

{% block content %}
  <style>
    #approve {
      background-color: rgb(108, 193, 108);
      color: white;
      border: none;
      border-radius: 5px;
      margin-right: 5px;
    }
    #reject {
      background-color: rgb(199, 75, 75);
      color: white;
      border: none;
      border-radius: 5px;
    }
    #approve:hover {
      background-color: rgb(80, 160, 80);
    }
    #reject:hover {
      background-color: rgb(179, 61, 61);
    }
  </style>

  <div class="pagetitle">
    <h1>Item Request</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">Lab Item Requests</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <!-- Success message -->
  {% if messages %}
    <div class="alert alert-success">
      {% for message in messages %}
        {{ message }}
      {% endfor %}
    </div>
  {% endif %}

  {% if user_role == 2 and 2 not in selected_lab_modules or not is_available_lab %}
<div class="alert alert-danger" role="alert">
  The module is currently disabled, but you can still access the data.
</div>
{% endif %}

  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Item Requests</h5>

            <!-- Dropdown to filter by status -->
            <form method="GET" id="statusFilterForm">
              <div class="row mb-3">
                <label for="status" class="col-sm-2 col-form-label">Filter by Status:</label>
                <div class="col-sm-10">
                  <select class="form-select" id="status" name="status" onchange="document.getElementById('statusFilterForm').submit()">
                    <option value="P" {% if selected_status == 'P' %}selected{% endif %}>Pending</option>
                    <option value="A" {% if selected_status == 'A' %}selected{% endif %}>Approved</option>
                    <option value="D" {% if selected_status == 'D' %}selected{% endif %}>Declined</option>
                    <option value="X" {% if selected_status == 'X' %}selected{% endif %}>Completed</option>
                    <option value="all" {% if selected_status == 'all' %}selected{% endif %}>All</option>
                  </select>
                </div>
              </div>
            </form>

            <!-- Table with stripped rows -->
            <table class="table borrow-datatable">
              <thead>
                <tr>
                  <th>Item Request ID</th>
                  <th>Name</th>
                  <th>Date of Request</th>
                  <th>Date for Booking</th>
                  <th>Type</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for request in borrowing_requests %}
                <tr>
                  <td><a href="{% url 'borrowing_labcoord_detailedPrebookrequests' request.borrow_id %}">{{ request.borrow_id }}</a></td>
                  <td>{{ request.user.firstname}} {{ request.user.lastname}}</td>
                  <td>{{ request.request_date|date:"Y-m-d" }}</td>
                  <td>{{ request.borrow_date|date:"Y-m-d" }}</td>
                  <td>
                    {% if request.due_date %}
                      Long-Term
                    {% else %}
                      Short-Term
                    {% endif %}
                  </td>
                  <td>
                    {% if request.status == 'P' %}
                      Pending
                    {% elif request.status == 'A' %}
                      <span style="color:green;">Approved</span>
                    {% elif request.status == 'D' %}
                      <span style="color:red;">Declined</span>
                    {% else %}
                      <span>{{ request.get_status_display }}</span>
                    {% endif %}
                  </td>
                  <td>
                    {% if request.status == 'P' %}
                      <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="borrow_id" value="{{ request.borrow_id }}">
                        <button type="submit" name="action" value="approve" id="approve" {%if not is_available_lab%} disabled {%endif%} {% if user_role == 2 and 2 not in selected_lab_modules %} disabled {%endif%}>Approve</button>
                        <button type="submit" name="action" value="reject" id="reject" {%if not is_available_lab%} disabled {%endif%} {% if user_role == 2 and 2 not in selected_lab_modules %} disabled {%endif%}>Declined</button>
                      </form>
                    {% else %}
                      <span>None</span>
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <!-- End Table with stripped rows -->

          </div>
        </div>
      </div>
    </div>
  </section>
  <script>
  document.addEventListener("DOMContentLoaded", function () {
    const today = new Date().toISOString().split('T')[0];
    itemborrowingreqs_filename = '{{selected_lab_name}}_itemborrowingreqs_' + today;
    new DataTable('.borrow-datatable', {
      layout: {
        bottomStart: {
            // buttons: ['copy', 'excel', 'pdf', 'colvis']
            buttons: [{
                    extend: 'excelHtml5',
                    title: itemborrowingreqs_filename
                },
                {
                    extend: 'pdfHtml5',
                    title: itemborrowingreqs_filename
                }, 'copy', 'colvis']
        }
      }
      
    });
  });
  </script>
{% endblock %}
