{% extends 'temp_navbar.html' %}
{% block title %}Pre-Book Requests{% endblock %}
{% load custom_filters %}

{% block content %}
<div class="pagetitle">
  <h1>Borrowing Requests</h1>
  <nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item" active>Prepare Items Borrowed</li>
    </ol>
</nav>
</div>

{% if messages %}
  {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">{{ message }}</div>
  {% endfor %}
{% endif %}


<style>
  .items_list{
    text-align: left;
  }
</style>

<div class="row mb-3">
  <div class="col-sm-12 text-start">
      <button id="scanQrButton" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#qrScannerModal">
          <i class="bi bi-camera"></i> Scan QR Code
      </button>
  </div>
</div>

<!-- QR Code Scanner Modal -->
<div class="modal fade" id="qrScannerModal" tabindex="-1" role="dialog" aria-labelledby="qrScannerModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="qrScannerModalLabel">Scan QR Code</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <video id="qrVideo" style="width: 100%; height: auto;"></video>
              <p class="text-danger" id="qrError" style="display: none;">Unable to scan QR code. Please try again.</p>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
      </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Preparation for Future Borrow</h5>
    <table class="table table-striped">
      <thead>
          <tr>
              <th>Borrow ID</th>
              <th>Preparation Details</th>
              <th>Item Names</th>
              <th>Status</th>
          </tr>
      </thead>
      <tbody>
          {% for borrow in future_borrows %}
          <tr>
              <td>{{ borrow.borrow_id }}</td>
              <td>
                {% if borrow.borrow_id in borrow_prep_details %}
                    {{ borrow_prep_details|dict_get:borrow.borrow_id|join:"<br>"|safe }}
                {% else %}
                    No Lead Time Required
                {% endif %}
              </td>
              <td>
                {% if borrow.borrow_id in borrow_items_data %}
                    {{ borrow_items_data|dict_get:borrow.borrow_id|join:", " }}
                {% else %}
                    No Items
                {% endif %}
              </td>
              <td>{{ borrow.get_status_display }}</td>
          </tr>
          {% endfor %}
      </tbody>
  </table>
  </div>
</div>






<!-- Tabs for Today, Future, Past, Cancelled, and Accepted borrows -->
<ul class="nav nav-tabs" id="borrowRequestsTabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="today-tab" data-bs-toggle="tab" href="#today-borrows" role="tab">Today Borrow</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="past-tab" data-bs-toggle="tab" href="#past-borrows" role="tab">Past Borrows</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="future-tab" data-bs-toggle="tab" href="#future-borrows" role="tab">Future Borrows</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="cancelled-tab" data-bs-toggle="tab" href="#borrowed" role="tab">Marked As Borrowed</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="cancelled-tab" data-bs-toggle="tab" href="#cancelled-borrows" role="tab">Cancelled By Lab</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="accepted-tab" data-bs-toggle="tab" href="#accepted-borrows" role="tab">All Requests</a>
  </li>
</ul>

<!-- Tab content -->
<div class="tab-content">

  <!-- Today Borrow Tab -->
  <div class="tab-pane fade show active" id="today-borrows" role="tabpanel">
    <section class="section">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Today's Borrows</h5>
              <table class="table table-striped datatable">
                <thead>
                  <tr>
                    <th>Borrow ID</th>
                    <th>Borrower</th>
                    <th>Items</th>
                    <th>Confirm</th>
                    <th>Cancel</th>
                  </tr>
                </thead>
                <tbody>
                  {% for request in today_borrows %}
                  <tr>
                    <td><a href="{% url 'borrowing_labtech_detailedprebookrequests' request.borrow_id %}">{{ request.borrow_id }}</a></td>
                    <td>{{ request.user.firstname }} {{ request.user.lastname }}</td>
                    <td>
                      <ul>
                        {% for item in request.borrowed_items_set.all %}
                        <li>{{ item.item.item_name }} - {{ item.qty }}{{item.unit}}</li>
                        {% endfor %}
                      </ul>
                    </td>
                    <td>
                      <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#confirmBorrowModal" data-id="{{ request.borrow_id }}">Mark as Borrowed</button>
                    </td>
                    <td>
                      <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmCancelModal" data-id="{{ request.borrow_id }}">Cancel</button>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- Future Borrows Tab -->
  <div class="tab-pane fade" id="future-borrows" role="tabpanel">
    <section class="section">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Future Borrows</h5>
              <table class="table table-striped datatable">
                <thead>
                  <tr>
                    <th>Borrow ID</th>
                    <th>Borrower</th>
                    <th>Items</th>
                    <th hidden></th>
                    <th hidden></th>
                  </tr>
                </thead>
                <tbody>
                  {% for request in future_borrows %}
                  <tr>
                    <td><a href="{% url 'borrowing_labtech_detailedprebookrequests' request.borrow_id %}">{{ request.borrow_id }}</a></td>
                    <td>{{ request.user.firstname }} {{ request.user.lastname }}</td>
                    <td style="text-align: left;">
                      <ul>
                        {% for item in request.borrowed_items_set.all %}
                        <li>{{ item.item.item_name }} - {{ item.qty }}{{item.unit}}</li>
                        {% endfor %}
                      </ul>
                    </td>
                    <td hidden></td>
                    <td hidden></td>
                    <!-- <td>
                      <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#confirmBorrowModal" data-id="{{ request.borrow_id }}">Mark as Borrowed</button>
                    </td>
                    <td>
                      <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmCancelModal" data-id="{{ request.borrow_id }}">Cancel</button>
                    </td> -->
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- Past Borrows Tab -->
  <div class="tab-pane fade" id="past-borrows" role="tabpanel">
    <section class="section">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Past Borrows</h5>
              <table class="table table-striped datatable">
                <thead>
                  <tr>
                    <th>Borrow ID</th>
                    <th>Borrower</th>
                    <th>Items</th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {% for request in past_borrows %}
                  <tr>
                    <td><a href="{% url 'borrowing_labtech_detailedprebookrequests' request.borrow_id %}">{{ request.borrow_id }}</a></td>
                    <td>{{ request.user.firstname }} {{ request.user.lastname }}</td>
                    <td style="text-align: left;">
                      <ul>
                        {% for item in request.borrowed_items_set.all %}
                        <li>{{ item.item.item_name }} - {{ item.qty }}{{item.unit}}</li>
                        {% endfor %}
                      </ul>
                    </td>
                    <td>
                      <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#confirmBorrowModal" data-id="{{ request.borrow_id }}">Mark as Borrowed</button>
                    </td>
                    <td>
                      <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmCancelModal" data-id="{{ request.borrow_id }}">Cancel</button>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- Cancelled Borrows Tab -->
  <div class="tab-pane fade" id="cancelled-borrows" role="tabpanel">
    <section class="section">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Cancelled Borrows</h5>
              <table class="table table-striped datatable">
                <thead>
                  <tr>
                    <th>Borrow ID</th>
                    <th>Borrower</th>
                    <th>Items</th>
                  </tr>
                </thead>
                <tbody>
                  {% for request in cancelled_borrows %}
                  <tr>
                    <td><a href="{% url 'borrowing_labtech_detailedprebookrequests' request.borrow_id %}">{{ request.borrow_id }}</a></td>
                    <td>{{ request.user.firstname }} {{ request.user.lastname }}</td>
                    <td>
                      <ul>
                        {% for item in request.borrowed_items_set.all %}
                        <li>{{ item.item.item_name }} - {{ item.qty }}{{item.unit}}</li>
                        {% endfor %}
                      </ul>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

    <!-- Borrowed Borrows Tab -->
    <div class="tab-pane fade" id="borrowed" role="tabpanel">
      <section class="section">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Marked As Borrowed</h5>
                <table class="table table-striped datatable">
                  <thead>
                    <tr>
                      <th>Borrow ID</th>
                      <th>Borrower</th>
                      <th>Items</th>
                      <th hidden></th>
                      <th hidden></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for request in borrowed_borrows %}
                    <tr>
                      <td><a href="{% url 'borrowing_labtech_detailedprebookrequests' request.borrow_id %}">{{ request.borrow_id }}</a></td>
                      <td>{{ request.user.firstname }} {{ request.user.lastname }}</td>
                      <td>
                        <ul class="items_list" >
                          {% for item in request.borrowed_items_set.all %}
                          <li >{{ item.item.item_name }} - {{ item.qty }}{{item.unit}}</li>
                          {% endfor %}
                        </ul>
                      </td>
                      <td hidden></td>
                      <td hidden></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

  <!-- Accepted Borrows Tab -->
  <div class="tab-pane fade" id="accepted-borrows" role="tabpanel">
    <section class="section">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">All requests</h5>
              <table class="table table-striped datatable">
                <thead>
                  <tr>
                    <th>Borrow ID</th>
                    <th>Borrower</th>
                    <th>Request Date</th>
                    <th>Items Borrowed</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  {% for request in accepted_borrows %}
                  <tr>
                    <td><a href="{% url 'borrowing_labtech_detailedprebookrequests' request.borrow_id %}">{{ request.borrow_id }}</a></td>
                    <td>{{ request.user.firstname }} {{ request.user.lastname }}</td>
                    <td>{{ request.request_date|date:"Y/m/d" }}</td>
                    <td>
                      <ul>
                        {% for item in request.borrowed_items_set.all %}
                        <li>{{ item.item.item_name }} - {{ item.qty }}{{item.unit}}</li>
                        {% endfor %}
                      </ul>
                    </td>
                    <td>{{ request.get_status_display }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<!-- Confirm Borrow Modal -->
<div class="modal fade" id="confirmBorrowModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm Mark as Borrowed</h5>
        <button type="button" class="close" data-bs-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to mark this request as borrowed?
      </div>
      <div class="modal-footer">
        <form method="POST" id="borrowActionForm">
          {% csrf_token %}
          <input type="hidden" name="borrow_id" id="borrowActionId" value="">
          <button type="submit" name="action" value="borrowed" class="btn btn-success">Confirm</button>
        </form>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<!-- Confirm Cancel Modal -->
<div class="modal fade" id="confirmCancelModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm Cancellation</h5>
        <button type="button" class="close" data-bs-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <textarea name="remarks" form="cancelActionForm" class="form-control" placeholder="Enter remarks for cancellation"></textarea>
      </div>
      <div class="modal-footer">
        <form method="POST" id="cancelActionForm">
          {% csrf_token %}
          <input type="hidden" name="borrow_id" id="cancelActionId" value="">
          <button type="submit" name="action" value="cancel" class="btn btn-danger">Confirm Cancellation</button>
        </form>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<script type="module">
  import QrScanner from "https://cdn.jsdelivr.net/npm/qr-scanner@1.4.2/qr-scanner.min.js";

  QrScanner.WORKER_PATH = "https://cdn.jsdelivr.net/npm/qr-scanner@1.4.2/qr-scanner-worker.min.js";

  document.addEventListener("DOMContentLoaded", function () {
      const qrVideo = document.getElementById("qrVideo");
      const qrError = document.getElementById("qrError");
      const qrScannerModal = document.getElementById("qrScannerModal");
      let qrScanner;

      const validateBorrowId = (borrowId) => {
          return new Promise((resolve, reject) => {
              // Perform an AJAX request to validate the borrow ID
              $.ajax({
                  url: `/validate_borrow_id/`, // Replace with the actual URL for validation
                  method: "GET",
                  data: { borrow_id: borrowId },
                  success: function (response) {
                      if (response.valid) {
                          resolve(true);
                      } else {
                          resolve(false);
                      }
                  },
                  error: function () {
                      reject("Error occurred while validating the Borrow ID.");
                  },
              });
          });
      };

      const initializeQrScanner = () => {
          qrScanner = new QrScanner(qrVideo, async (result) => {
              // Stop the scanner
              qrScanner.stop();
              qrVideo.style.display = "none";

              const borrowId = result.trim();

              // Validate the scanned Borrow ID
              try {
                  const isValid = await validateBorrowId(borrowId);
                  if (isValid) {
                      // Redirect if valid
                      window.location.href = `/borrowing/labtech/detailedprebookrequests/${borrowId}/`;
                  } else {
                      // Show error if invalid
                      qrError.textContent = "Invalid Borrow ID. Please try again.";
                      qrError.style.display = "block";
                      location.reload();
                  }
              } catch (error) {
                  qrError.textContent = error;
                  qrError.style.display = "block";
                  location.reload();
              }

              // Close the modal
              const closeButton = qrScannerModal.querySelector(".btn-close");
              closeButton.click();
          });
      };

      qrScannerModal.addEventListener("show.bs.modal", function () {
          qrVideo.style.display = "block";
          qrError.style.display = "none"; // Hide error message when the modal is opened
          if (!qrScanner) {
              initializeQrScanner();
          }
          qrScanner.start();
      });

      qrScannerModal.addEventListener("hide.bs.modal", function () {
          if (qrScanner) {
              qrScanner.stop();
          }
      });
  });
</script>



<script>
  document.addEventListener('DOMContentLoaded', function() {
    var confirmBorrowModal = document.getElementById('confirmBorrowModal');
    confirmBorrowModal.addEventListener('show.bs.modal', function(event) {
      var button = event.relatedTarget;
      var borrowId = button.getAttribute('data-id');
      var borrowActionInput = document.getElementById('borrowActionId');
      borrowActionInput.value = borrowId;
    });

    var confirmCancelModal = document.getElementById('confirmCancelModal');
    confirmCancelModal.addEventListener('show.bs.modal', function(event) {
      var button = event.relatedTarget;
      var borrowId = button.getAttribute('data-id');
      var cancelActionInput = document.getElementById('cancelActionId');
      cancelActionInput.value = borrowId;
    });
  });
</script>

{% endblock %}
