
/* 
body{
  background-color: red;
} */
.datatable-table {
	max-width: 100%;
	width: 100%;
	border-spacing: 0;
	border-collapse: separate;
	
}


.datatable-table th {
  width: 10%; /* Adjust as necessary */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Add ellipsis for overflowing text */
  /* white-space: nowrap; Prevents text from wrapping */
  
}

.card-body {
  font-size:1vw
}




.datatable-sorter::before,
.datatable-sorter::after {
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	right: 1px;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	opacity: 0.2;

}

.datatable-table > tbody > tr > td,
.datatable-table > tbody > tr > th,
.datatable-table > tfoot > tr > td,
.datatable-table > tfoot > tr > th,
.datatable-table > thead > tr > td,
.datatable-table > thead > tr > th {
	vertical-align: top;
	padding: 8px 10px;
  text-align: center
}


.card-body {
  padding: 20px 80px 80px 80px;
}

#generate_button{
  width: 70%;
  background-color: #00703C;
}

#delete{
  background-color: red;
	border:none;
}
