{% extends 'temp_navbar.html' %}
{% load socialaccount %}
{% block title %}Inventory{% endblock %}

{% block content %}
  <div class="pagetitle">
    <h1>Inventory</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'inventory_view' %}">Inventory</a></li>
        <li class="breadcrumb-item active">View Inventory</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Inventory</h5>
            <a href="{% url 'inventory_itemDetails' %}">item details temp</a>
            

            <!-- Table with stripped rows -->
            <table class="table datatable">
              <thead>
                <tr>
                  <th>Status</th>
                  <th>Item ID</th>
                  <th>Item Name</th>
                  <th>Qty</th>
                  <th>Unit</th>
                  <th data-type="date" data-format="YYYY/DD/MM" class="date_row">Date Updated</th>
                  <th>Available Qty</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Available</td>
                  <td>1</td>
                  <td>Beaker</td>
                  <td>20</td>
                  <td>pieces</td>
                  <td>1999/04/07</td>
                  <td>19</td>
                </tr>
                <tr>
                  <td>Available</td>
                  <td>2</td>
                  <td>Leaker</td>
                  <td>10</td>
                  <td>pieces</td>
                  <td>1999/04/07</td>
                  <td>9</td>
                </tr>
                <tr>
                  <td>Available</td>
                  <td>3</td>
                  <td>H2O</td>
                  <td>20</td>
                  <td>pieces</td>
                  <td>1999/04/07</td>
                  <td>19</td>
                </tr>
                <tr>
                  <td>Available</td>
                  <td>4</td>
                  <td>Air</td>
                  <td>20</td>
                  <td>pieces</td>
                  <td>1999/04/07</td>
                  <td>19</td>
                </tr>
                {% comment %} <tr>
                  <td>Available</td>
                  <td>5</td>
                  <td>Beaker 5</td>
                  <td>20</td>
                  <td>pieces</td>
                  <td>2002/04/10</td>
                  <td>19</td>
                </tr>
                <tr>
                  <td>Available</td>
                  <td>6</td>
                  <td>Chloride</td>
                  <td>20</td>
                  <td>mL</td>
                  <td>1992/04/07</td>
                  <td>19</td>
                </tr>
                <tr>
                  <td>Available</td>
                  <td>7</td>
                  <td>Silver</td>
                  <td>20</td>
                  <td>pieces</td>
                  <td>1999/04/07</td>
                  <td>19</td>
                </tr> {% endcomment %}
            
            
              </tbody>
            </table>
            <!-- End Table with stripped rows -->

          </div>
        </div>

      </div>
    </div>
  </section>
{% endblock %}