{% extends 'temp_navbar.html' %}
{% load socialaccount inventory_extras %}
{% block title %}Inventory{% endblock %}

{% block content %}
  <div class="pagetitle">
    <h1>Inventory</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">View Inventory</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Inventory</h5>

            <!-- Dropdown to select item_type -->
            <form method="GET" id="itemTypeForm">
              <div class="row mb-3">
                <label for="item_type" class="col-sm-2 col-form-label">Select Item Type:</label>
                <div class="col-sm-10">
                  <select class="form-select" id="item_type" name="item_type" onchange="document.getElementById('itemTypeForm').submit()">
                    <option value="">All</option>
                    {% for type in item_types %}
                      <option value="{{ type.itemType_id }}" {% if selected_item_type == type.itemType_id %}selected{% endif %}>
                        {{ type.itemType_name }}
                      </option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </form>

            <!-- Table with stripped rows -->
            <table class="table datatable">
              <thead>
                <tr>
                  <th>Status</th>
                  <th>Item Name</th>
                  <th>Qty</th>
                  {% for col in add_cols %}
                    <th>{{ col }}</th>
                  {% endfor %}
                  <th>Available Qty</th>
                  <th style="display:none"></th>
                  <th style="display:none"></th>
                  <th style="display:none"></th>
                </tr>
              </thead>
              <tbody>
                {% for item in inventory_items %}
                <tr>
                  <td style=" color: {% if item.total_qty > item.alert_qty %}green{% else %}red{% endif %}">{%if item.total_qty > item.alert_qty%}Available{%else%}Low Stock{%endif%}</td>
                  <td><a href="{% url 'inventory_itemDetails_view' item.item_id %}">{{ item.item_name }}</a></td>
                  <td class="{% if item.total_qty > 0 %}qty-positive{% else %}qty-negative{% endif %}">
                    {{ item.total_qty }}
                  </td>
                  {% for col in add_cols %}
                    <td>{{ item.add_cols|get_col_value:col }}</td>
                  {% endfor %}
                  <td>{{ item.total_qty }}</td>
                  <td style="display:none"></td>
                  <td style="display:none"></td>
                  <td style="display:none"></td>
                </tr>
                {% empty %}
                <tr>
                  <td colspan="6">No items found.</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            
            <!-- End Table with stripped rows -->

          </div>
        </div>

      </div>
    </div>
  </section>
{% endblock %}
