asgiref==3.8.1
Django==5.1.6
sqlparse==0.5.3

allauth
django-allauth
qrcode
django-qr-code
Pillow
psycopg2
psycopg2-binary
requests
PyJWT
cryptography
openpyxl
pandas
pyzbar
pint
mysqlclient
django-dbbackup